<div class="header navbar">
          <div class="header-container">
            <div class="nav-logo">
              <a href="admin.php">
                <b><img src="assets-admin/img/white.png" alt=""></b>
                <span class="logo">
                  <img src="assets-admin/img/logo.png" alt="">
                </span>
              </a>
            </div>
            <ul class="nav-left">
              <li>
                <a class="sidenav-fold-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
                <a class="sidenav-expand-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">
              <li class="user-profile dropdown dropdown-animated scale-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="profile-img img-fluid" src="assets-admin/img/avatar/0.png" alt=""> 
                </a>
                <ul class="dropdown-menu dropdown-md">
                  <li>
                    <ul class="list-media">
                      <li class="list-item avatar-info">
                        <div class="media-img">
                          <img src="assets-admin/img/avatar/0.png" alt="">
                        </div>
                        <div class="info">
                          <span class="title text-semibold">Siti Sarah</span>
                          <span class="sub-title">Administrator</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="profile-view.php">
                      <i class="lni-user"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="index.php" onclick="logoutFunction()">
                      <i class="lni-lock"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <script>
          function logoutFunction() {
            alert("You have been logged out!");
          }
          </script>